.wrapper__login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.wrapper__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
